header {
    color: rgb(255, 255, 255); 
    background-color: rgb(29, 29, 61); 
    text-align: left; 
    padding: 10px;
}
body {
    background-color: rgb(23, 23, 34); 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0;
}